@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav{
    background-color: white;
    /* position: fixed; */
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-small-cont{
    width: 25%;
    display: flex;
    align-items: center;
    gap: 7%;
    white-space: nowrap;
    padding: 20px;
    justify-content: space-between;

}

button{
    color: white;
    background-color: #0360FE;
    padding: 12px 20px;
    font-weight: 300;
}

nav button{
    padding: 7px 15px;

}

#intro{
    background-color: #B3CFE6;
}

h1{
    font-size: 80px;
    font-weight: 700;
    width: 55%;
    margin: 0 auto;
    padding: 100px 0px 60px 0px;
}

h3{
    font-size: 35px;
    padding: 50px 0px 30px 0px;
}

h4{
    font-size: 22px;
}

#intro-cont{
    width: 55%;
    margin: 0 auto;
    display: flex;
    height: 330px;
}

#text-intro-cont{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.space{
    padding-bottom: 10%;
}

#arrow{
    width: 10%;
}

#intro-pic-cont{
    display: flex;
    height: 400px;
}

hr{
    padding: 70px 0px 50px 0px;
    border: 3px solid rgb(243, 243, 243);
}

#plans{
    width: 45%;
    margin: 0 auto;
    /* background: yellow; */

}

span svg{
    height: 15px;
    vertical-align: middle;
}

#options{
    display: flex;
    gap: 50px;
    padding: 50px 0px;
}

.plan{
    width: 30%;
}

ul{
    list-style-type: none;
}

.plan-head{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border: 2.2px solid #d1d0d2;
    border-bottom: none;
    /* background: blue; */
    /* border: 15px solid black */
}

.plan-main{
    padding: 40px 25px;
    border: 2.2px solid #d1d0d2;
    /* background: green; */
    height: 90%;
}

#plan-cont{
    display: flex;
    justify-content: space-between;
    height: 750px;
    align-items: stretch;
    /* background: red; */
    /* border: 5px solid black; */

}

#enterprise-cont{
    margin-top: 25px;
    /* background: yellow; */
}

#ent-cont-2{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px 25px;
}

#ent-text{
    flex-basis: 70%;
}

#partner-cont{
    width: 45%;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
    margin-bottom: 170px;
}

#partner-cont img{
    display: flex;
    height: 500px;
}

#partner-text{
    padding: 50px 40px;
}

#partner-cont button{
    background: none;
    color: black;
    border: 1px solid black
}

#business-cont{
    width: 45%;
    margin: 0 auto;
}

#business-cont h3{
    padding-top: 0;
}

#business-cards-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.b-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 30%;
    gap: 20px;
}

.small-pic{
    height: 20vh;
}

.last{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 150px;
}